@charset "utf-8";

@font-face {
	font-family: OpenSans-regular;
	font-weight: normal;
	src: url("OpenSans-Regular.ttf");
}

@font-face {
	font-family: OpenSans-bold;
	font-weight: bold;
	src: url("OpenSans-Bold.ttf");
}

@font-face {
	font-family: OpenSans-italic;
	font-weight: normal;
	font-style: italic;
	src: url("OpenSans-Italic.ttf");
}

@font-face {
	font-family: OpenSans-light;
	font-weight: lighter;
	src: url("OpenSans-Light.ttf");
}